@page "/newround"
@using GolfScoreUI.Data

<h3>Start a new round</h3>

<EditForm Model="@scorecard" OnValidSubmit="@HandleValidSubmit">
<div class="form-group">
    <label for="maxStrokesGroup">Maximum number of strokes per hole</label>
    <select class="form-select" id="maxStrokes" @bind="scorecard.MaxStrokes">
        <option selected>Choose...</option>
        @for(int i = 1; i <= 10; i++)
        {
            <option value="@i">@i</option>
        }

    </select>
  </div>
  <div class="form-group">
    <label for="playerNamesGroup">Player names</label>
    @for (int i = 1; i <= scorecard.Players.Count; i++)
    {
        int idx = i;
        <input type="text" class="form-control mb-2" id="player-@idx" placeholder="Player @idx">
    }
  </div>
  <button type="submit" class="btn btn-primary">Start round</button>
</EditForm>

@code {
    private Scorecard scorecard = new Scorecard();

    private void HandleValidSubmit()
    {
        
    }

}
